body {
  font-family: Helvetica;
  text-align: center;
}
.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}
.heading {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
.navigation {
  font-size: 18px;
  color: white;
}
.subheading {
  font-size: 32px;
  font-weight: bold;
}
h4 {
  font-size: 23px;
  font-weight: bold;
}
.content {
  font-size: 14px;
}
